// WORKSPACE BUTTONS
.workspace-buttons {
	display: inherit;
}

@media only screen and (min-width: 1024px) {
	.workspace-buttons {
		flex-direction:row-reverse;
		align-items: center;
		display: flex;
	}
}

.workspace-button {
	border-radius: 4px;
	width: 8rem;
	height: 2.5rem;
	color: white;
	margin-left: 10px;
}

.workspace-button-new {
	@extend .workspace-button;
	background-color: hsl(125, 60%, 40%);
}

.workspace-button-new:hover {
	background-color: hsl(125, 50%, 30%);
}

.workspace-button-delete {
	@extend .workspace-button;
	background-color: hsl(0, 60%, 40%);
}

.workspace-button-delete:hover {
	background-color: hsl(0, 50%, 30%);
}

.workspace-button-confirmDelete {
	@extend .workspace-button;
	background-color: hsl(0, 60%, 40%);
	width: 4rem;
	margin-top: 10px;
}

@media only screen and (min-width: 768px) {
	.workspace-button-confirmDelete {
		margin-top: 0px;
	}
}


// WORKSPACE CARD
.workspace-card-name {
	font-size: 1em;
}

.workspace-card-owner {
	font-size: 0.5em;
	color: gray;
}

.channel-card-messages {
	font-size: 20px;
}



// NEW WORKSPACE
.new-workspace-name-input {
	@include NewWorkspaceNameInput;

	animation-name: input-field-enter;
	animation-duration: 0.5s;
	margin-left: 20px;
}

@media only screen and (min-width: 1024px) {
	.new-workspace-name-input {
		margin-top: 0px;
		margin-left: 10px;
	}
}

.new-workspace-name-input-onExit {
	@include NewWorkspaceNameInput;
	
	animation-name: input-field-exit;
	animation-duration: 0.5s;
	display: none;
}

@media only screen and (min-width: 1024px) {
	.new-workspace-name-input-onExit {
		margin-top: 0px;
	}
}

@keyframes input-field-enter {
	0% {max-width: 0rem; height: 0rem; }
	100% {max-width: 20rem; height: 1.5rem; }
}

@keyframes input-field-exit {
	0% {max-width: 20rem; height: 1.5rem; display:inline;}
	99% {max-width: 0rem; display: inline;}
	100% {max-width: 0rem; height: 0rem; display: none;}
}
