// WORKSPACE CARDS
.workspace-card-container {
	width: 75vw;
	margin: 20px;
	background-color: #1f2329;
	border: 1px solid #c4c4c4;
	border-radius: 8px;

	filter: drop-shadow(5px 5px 4px #1d2126);
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	padding: 0.5rem 1rem;
}

.workspace-card-container:hover {
	box-shadow: 0 0 15px 5px #555555;
	background-color: #1d2126;
}

.workspace-card-name {
	font-size: 1em;
}

.workspace-card-owner {
	font-size: 0.5em;
	color: gray;
}

.channel-card-messages {
	font-size: 20px;
}

// WORKSPACE BUTTONS
.workspace-buttons {
	display: inherit;
}

@media only screen and (min-width: 1024px) {
	.workspace-buttons {
		flex-direction:row-reverse;
		align-items: center;
		display: flex;
	}
}

.workspace-button {
	border-radius: 4px;
	width: 8rem;
	height: 2.5rem;
	color: white;
	margin-left: 10px;
}

.workspace-button-new {
	@extend .workspace-button;
	background-color: hsl(125, 60%, 40%);
}

.workspace-button-new:hover {
	background-color: hsl(125, 50%, 30%);
}

.workspace-button-delete {
	@extend .workspace-button;
	background-color: hsl(0, 60%, 40%);
}

.workspace-button-delete:hover {
	background-color: hsl(0, 50%, 30%);
}

@mixin NewWorkspaceNameInput() {
  border: none;
  border-radius: 4px;
	height: 1.5rem;
	max-width: 20rem;
}

.new-workspace-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
	.new-workspace-container {
		margin-top: 0px;
	}
}

.workspace-button-new-confirm {
	border-radius: 4px;
	width: 2.5rem;
	height: 2.5rem;
	color: white;
	background-color: hsl(125, 60%, 40%);
}

.new-workspace-name-input {
	@include NewWorkspaceNameInput;

	animation-name: input-field-enter;
	animation-duration: 0.5s;
}

@media only screen and (min-width: 1024px) {
	.new-workspace-name-input {
		margin-top: 0px;
	}
}

.new-workspace-name-input-onExit {
	@include NewWorkspaceNameInput;
	
	animation-name: input-field-exit;
	animation-duration: 0.5s;
	display: none;
}

@media only screen and (min-width: 1024px) {
	.new-workspace-name-input-onExit {
		margin-top: 0px;
	}
}

@keyframes input-field-enter {
	0% {max-width: 0rem; height: 0rem; }
	100% {max-width: 20rem; height: 1.5rem; }
}

@keyframes input-field-exit {
	0% {max-width: 20rem; height: 1.5rem; display:inline;}
	99% {max-width: 0rem; display: inline;}
	100% {max-width: 0rem; height: 0rem; display: none;}
}
